.loading-shading-mui {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(134, 133, 133, 0.3);
  z-index: 80;
}
.loading-icon-mui {
  position: absolute;
  font-size: 20px;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
}
#draggable-dialog-title > h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*--------------------------------Scrollbar css-----------------------------------*/
::-webkit-scrollbar {
  height: 3px;
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #787474;
}
/*--------------------------------Scrollbar css-----------------------------------*/

/*-----------------------------TABLE css--------------------------------*/
.FileRow {
  display: grid;
  grid-template-columns: 3rem 1fr 4rem 1fr 2fr;
  padding: 0.5rem 0;
  gap: 1rem;
  align-items: center;
}
.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.active {
  background-color: #6fe1e124;
}
.FileHeader {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*-----------------------------TABLE css--------------------------------*/
