.loading-shading-mui {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(134, 133, 133, 0.3);
  z-index: 80;
}

.loading-light-mui {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 80;
}

.loading-icon-mui {
  position: absolute;
  font-size: 20px;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
}
